<p> Notowania na dzień: {{ allCurrencyRates.effectiveDate }}</p>


<div class="calendar-container">
  <p-calendar [(ngModel)]="selectedDate"
    [showIcon]="true"
    [minDate]="minDate"
    [maxDate]="currentDate"
    dateFormat="dd/mm/yy"
    (onSelect)="handleDateSelect()"></p-calendar>

  <p-button label="Clear" styleClass="p-button-outlined">
    <i class="pi pi-filter-slash"></i>
  </p-button>
</div>


<p-table
  [value]="this.filteredRates"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}
  entries"
  [rowsPerPageOptions]="[5, 10, 25, 50]">
  <ng-template pTemplate="header">
    <tr>
      <th>
        Symbol waluty
      </th>
      <th>
        Waluta
        <br>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            #query
            type="text"
            placeholder="Szukaj ..."
            pInputText
            pKeyFilter="alpha"
            (keyup)="filter(query.value)"/>
        </span>
      </th>
      <th>Kurs waluty</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rate>
    <tr>
      <td>{{ rate.code }}</td>
      <td>{{ rate.currency }}</td>
      <td>{{ rate.mid }}</td>
    </tr>
  </ng-template>
</p-table>

<h3>Wybierz widok</h3>
<span class="p-buttonset">
  <button pButton pRipple label="Jasny"
    (click)="changeTheme('bootstrap-light')"></button>
  <button pButton pRipple label="Ciemny"
    (click)="changeTheme('bootstrap-dark')"></button>
</span>
