<p> Notowania na dzień: {{ allCurrencyRates.effectiveDate }}</p>
<p-inputSwitch
  [(ngModel)]="isDarkMode"
  (click)="changeTheme('bootstrap-dark')">
</p-inputSwitch>

<p-table [value]="this.filteredRates">
  <ng-template pTemplate="header">
    <tr>
      <th>
        Symbol waluty
      </th>
      <th>
        Waluta
        <br>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            #query
            type="text"
            placeholder="Search ..."
            pInputText
            pKeyFilter="alpha"
            (keyup)="filter(query.value)"/>
        </span>
      </th>
      <th>Kurs waluty</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rate>
    <tr>
      <td>{{ rate.code }}</td>
      <td>{{ rate.currency }}</td>
      <td>{{ rate.mid }}</td>
    </tr>
  </ng-template>
</p-table>

<h2>Wybierz widok</h2>
<span class="p-buttonset">
  <button pButton pRipple label="Jasny"
  (click)="changeTheme('bootstrap-light')"></button>
  <button pButton pRipple label="Ciemny"
  (click)="changeTheme('bootstrap-dark')"></button>
</span>
