<p> Notowania na dzień: {{ allCurrencyRates.effectiveDate }}</p>


<div>
  <p-calendar [(ngModel)]="selectedDate"
    [showIcon]="true"
    [minDate]="minDate"
    [maxDate]="currentDate"
    [disabledDays]="[0,6]"
    [firstDayOfWeek]="1"
    dateFormat="dd/mm/yy"
    (onSelect)="handleDateSelect()"></p-calendar>
</div>

<div class="filter-container">
  <span class="p-input-icon-left margin-between">
    <i class="pi pi-search"></i>
    <input
      #query
      id="query"
      type="text"
      placeholder="Szukaj ..."
      pInputText
      pKeyFilter="alpha"
      (keyup)="filter(query.value)"/>
  </span>

  <p-button
    label="Wyczyść"
    styleClass="p-button-outlined"
    (click)="clearFilter()">
    <i class="pi pi-filter-slash button-inner-spacing"></i>
  </p-button>
</div>

<p-table
  [value]="this.filteredRates"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Wyniki od {first} do {last} - Wszystkie wyniki:
  {totalRecords}"
  [rowsPerPageOptions]="[5, 10, 25, 50]">
  <ng-template pTemplate="header">
    <tr>
      <th>
        Symbol waluty
      </th>
      <th>
        Waluta
        <br>
      </th>
      <th>Kurs waluty</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rate>
    <tr>
      <td>{{ rate.code }}</td>
      <td>{{ rate.currency }}</td>
      <td>{{ rate.mid }}</td>
    </tr>
  </ng-template>
</p-table>

<h3>Wybierz widok</h3>
<span class="p-buttonset">
  <button pButton pRipple label="Jasny"
    (click)="changeTheme('bootstrap-light')"></button>
  <button pButton pRipple label="Ciemny"
    (click)="changeTheme('bootstrap-dark')"></button>
</span>
